<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Aplicação Calculadora Spring</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div>
		<form action="#" th:action="@{/}" method="post" id="operacaoForm">
			<div>
				<label for="modelOperacao">Selecione a operação:</label>
				<select id="modelOperacao" name="modelOperacao">
					<option th:each="operacao: ${operacaoModel}"
					        th:value="${operacao}"
					        th:text="${operacao}"
					        th:selected="${operacao == selectedModel}">
					        Operação
					</option>
				</select>
			</div>
		</form>
	</div>
</body>
</html>